.plant-list {
  border-radius: 20px;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  column-gap: 20px;
  row-gap: 20px;
  padding-bottom: 2rem;
}
.plant-list--empty {
  padding: var(--base-blank-medium);
  font-size: var(--font-medium);
}
.plant-list--empty .plant-list__icon--empty {
  font-size: var(--font-large);
  padding: var(--base-blank-medium);
}
@media screen and (max-width: 768px) {
  .plant-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .plant-list--empty,
  .plant-list--empty .plant-list__icon--empty {
    font-size: var(--font-small);
    padding: var(--base-blank-small);
  }
}
